/* AddEvent.css */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin-top: -7%;
    margin-right: -35%;
   
}

.event-form {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: left;
}

.event-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-btn {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 15px rgba(255, 117, 140, 0.3);

}

.submit-btn:hover {
    background: linear-gradient(135deg, #ff5e78, #ff85a2);
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(255, 117, 140, 0.4);
}

.submit-btn:active {
    background: linear-gradient(135deg, #ff3b55, #ff6292);
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(255, 117, 140, 0.5);
}

.form-group input {
   
    padding-left: 0; 
    text-align: left; 
    direction: ltr; 
}
